<div id="body-sidebar-left" class="sidebar">
  <div class="sidebar-wrap">
    <div class="sidebar-subject">305</div>
    <ul>
      <li><a class="withripple" href="javascript:void(0)">Link</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" data-target="#" class="dropdown-toggle withripple" data-toggle="dropdown">Dropdown</a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)">Action</a></li>
          <li><a href="javascript:void(0)">Another action</a></li>
          <li><a href="javascript:void(0)">Something else here</a></li>
        </ul>
      </li>
      {% if hasSession(app.request.cookies.get('session_id')) %}
        {% set userInfo = userInfo(app.request.cookies.get('session_id')) %}
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle withripple" data-toggle="dropdown">
            {{ userInfo.name }}</a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('logout')}}">Sign out</a></li>
          </ul>
        </li>
      {% else %}
        <li><a class="withripple" href="{{ path('login') }}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="sidebar-overlay"></div>
