{% extends 'default/index.html.twig' %}

{% block title %}homepage{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    $('#brand').addClass('active');
  </script>
{% endblock %}


{% block body %}
  <h3 class="col-md-12">hello, world</h3>
  {% for product in products %}
    <div class="col-md-3 col-sm-6">
      {% include 'default/product.html.twig' with { 'product': product } %}
    </div>
  {% endfor %}
{% endblock %}
